.choixCapsule{
  display: flex;
  flex-flow: column;
}
.choixCapsule .chooseCapsule{
  display: flex;
  flex-flow: row wrap;
}
.card:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.previewCapsule img:hover{
  transform: scale(1.002);
  cursor: pointer;
}