body{
    height:100vh;
    margin: 0;
    padding: 0; 
    background: url('../images/bg2.jpg');
    background-size: cover;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;


}
h1,h2,h3,h4,h5,h6,p{
    font-family: Fira Code;
    color: white;
   
    
}
.header{
    flex: 1;
}
.header h4{
   
    font-size: 20px;
    font-weight: 600;
    border-left: 3px solid white;
    margin-left: 45%;
    padding-left: 1%;
    
}
.box{
    margin: 3%;
    flex:5;
    width: 100%;
}

.card{
    background-color: aqua;
}